
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <img src="assets/Images/chezNous.png">
        
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/accueil">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/informatique">liste des Produits informatique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
                </li>
            </ul>
           
        </div>
    </nav>
   

